@font-face {
    font-family: orderPizza;
    src: url("../fonts/OrderPizza.woff2") format("woff2"), 
        url("../fonts/OrderPizza.woff") format("woff"), 
        url("../fonts/OrderPizza.ttf") format("ttf"), 
        url("../fonts/OrderPizza.eot") format("eot");
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("Images/Pizza-Background.jpg") no-repeat fixed center;
    background-size: cover;
    color: #ffffff;
}

footer {
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

h1 {
    font-size: 2.8em;
    line-height: 2.5em;
    letter-spacing: 5px;
}

select {
    color: #555555;
    width: 100%;
    border-radius: 4px;
    padding: 6px 12px;
    height: 34px;
    font-size: 12px;
}

.heading-home {
    font-family: orderPizza;
    text-align: center;   
}

.content-padding {
    padding-top: 10vh;
}

.remove-margin {
    margin: 0px !important;
}

.remove-border tbody tr th, .remove-border tbody tr td {
    border: none;
}

.home-content-padding {
    padding-top: 20vh;
}

.navbar-brand {
    font-family: orderPizza;
    font-size: 12px;
}

input, select, textarea {
    max-width: 100%; 
}

.btn-style {
    background-color: #f44336;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    line-height: 16px;
}

.btn-style:hover {
    color: #bbbbbb;
}

.btn-align-right {
    text-align: right;
    width: 100%;
}

.now-hiring-li {
    padding-top: 15px;
    padding-bottom: 15px;
}

.now-hiring-div {
    background-color: #4285f4;
    color: #ffffff;
    border-radius: 5px;
    padding: 0px 5px;
    margin-left: -10px;
    text-align: center;
}

div#map {
    height: 60vh;
}

div#DataTables_Table_0_paginate {
    text-align: right;
}

div#DataTables_Table_0_filter {
    text-align: right;
}


/*Contact Us*/
.contact-details {
    padding-left: 10px;
}

.text-area-message {
    width: 100%;
    height: 20vh !important;
}

/*Events Calendar*/
td.fc-day.fc-widget-content.fc-wed.fc-today {
    background-color: #222222;
}

tbody.fc-body {
    background-color: #444444;
}

thead.fc-head {
    background-color: #222222;
}


/*Admin Menu*/
.ul-admin-options li{
    list-style-type: none;
    font-size:20px;
    padding: 5px 0px;
}