@{
    ViewBag.Title = "Contact";
}

<div class="row content-padding">
    <div class="col-sm-6">

        <h2>Contact Us</h2>
        <br />

        <div class="contact-details">
            <h3>Address</h3>
            <address>
                111 Bowser Lane<br />
                Bowserville, VIC<br />
                Australia<br />
                <br />

            </address>

            <h3>Phone Number</h3>
            <p>03 5662 0000</p>
        </div>
    </div>
    <div class="col-sm-6"></div>
</div>