@{
    ViewBag.Title = "Home Page";
}

<div class="row home-content-padding">
    <div class="col-sm-6">
        <div class="heading-home">
            <h1>Mario's Pizza</h1>
            <p>Welcome to the Mario's Pizza app</p>
        </div>    
    </div>
    <div class="col-sm-6"></div>
</div>
