@{
    ViewBag.Title = "PizzaRatings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pizza Ratings</h2>

<div id="tabs" style="height: 360px">
    <div id="tabs-1" style="height: 300px">
        <div id="chartContainer1" style="height: 300px; width: 100%;"></div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/canvas")
}